%%-*- mode: erlang -*-
{plugins, [pc]}. 

{artifacts, ["priv/eleveldb.so"]}.

{xref_checks, [undefined_function_calls]}.

{port_specs, [{ "priv/eleveldb.so", ["c_src/*.cc"] }]}.

{erl_opts, [warnings_as_errors, debug_info]}.

{profiles,
 [
  {test,[
	 {deps,[
		{cuttlefish, {git, "git://github.com/Kyorai/cuttlefish.git", {tag, "v2.3.0"}}}
	       ]},
	 {eunit_opts, [verbose]}
	]}
 ]}.

{port_env, [
	    %% Make sure to set -fPIC when compiling leveldb
	    {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
	    {"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC"},
	    {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/leveldb/include -I c_src/leveldb -I c_src/system/include"},
	    {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/libleveldb.a -lsnappy -lstdc++"}
	   ]}.

{pre_hooks, [
             {"(linux|darwin|solaris|freebsd)", compile, "c_src/build_deps.sh get-deps"},
             {"(linux|darwin|solaris|freebsd)", compile, "c_src/build_deps.sh"} 
            ]}.

{provider_hooks, [
		  {post,[
			 {compile, {pc, compile}},
			 {clean, {pc, clean}}
			]
		  }
		 ]}.
